# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env
.env.*

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Kubernetes Secrets
secrets.yaml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# AWS Credentials
credentials
config